# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Module specific
*.log
*.pprof

# General
certs/*
!certs/.gitkeep
config/*
!config/.gitkeep
!config/example_config.yml
policies/*
!policies/.gitkeep
!policies/example_policies.yml

# Misc
*.swp
/.vscode
